*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 1vh;
}


::-webkit-scrollbar-thumb {
  background: #888; 
}
:root {
  --bgColor:rgba(30,30,30,1);
  --bgLightColor:#f2f2f2;
  --bgAccentColor:rgba(30,30,30,1);
  --textColorLight:rgba(255,255,255,1);
  --textAccentColor:rgba(255,255,255,1);

}
svg{
  fill:#fff
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    height: 500vh;
    width: 100%;
    font-family: 'Archivo Black', sans-serif;
    
}

/* navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 7vh;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.4s ease-in;
 
}
ul { 
    list-style: none; 
    display: flex;
    justify-content: space-around;
    text-align: center;    
  }
li { 
    position: relative; 
    padding: 1vh 0;
   
}
li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0vh;
    display: inline-block;
    padding: 1.5vh 2.0vh;
    position: relative;
    font-size: 1.5vh;
    
  }

 li a.scroll {
    color: #eef;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5vh 2.0vh;
    position: relative;
    font-size: 1.5vh;
  }
 

  li a:after {    
    content: " ";
    display: block;
    height: 0.2vh;
    position: relative;
    background:#000000;
    transition: width 0.3s ease 0s;
    width: 0;
    
    
  }
 li a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.header{
 margin-top: 10%;
 background-image: url('');
 height: 100%;
 width: 100%;
}

nav.scroll {
  background-color: #bcff1f;
  height: 7vh;
  z-index: 1221;
 
}

#li-section{
display: flex;
}

/* header */
.container {
	min-height: 100%;
  position: absolute;
  top: 7vh;
  left: 87vh;

}

.center {
	top: 20%; left: 49%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.apple {
	
	/* Text Background Effect */
	
	background: url('https://t4.ftcdn.net/jpg/06/06/89/51/360_F_606895118_MdJx9fbF0wBqlDUelHqGsTXC8NsN21be.jpg');
	-webkit-background-clip: text;
	color: transparent;

	/* Other */
	
	font-family: 'Roboto', sans-serif;
	font-size: 100px;
	font-weight: 900;
	animation: slice 1.5s, dynamic 15s infinite alternate linear;
	white-space: nowrap;
	
}

* {
	user-select: none;
}

@media screen and (max-width: 480px) {
	.apple {
		font-size: 70px;
	}
}

/* Slice Animation */

@keyframes slice {
	
	0% {	line-height: 0%; }
	
	100% {	line-height: 100%; }
}

/* Dynamic Background Animation */

@keyframes dynamic {
	
	0% {	background-position: 0% }
	
	100% {	background-position: 100%; }
	
}

/* Watermark */

.links {
	position: absolute;
	bottom: 5px; left: 10px;
}

a {
	color: #313131;
}


/* search */
   
*::selection{
background-color: transparent;
}
*{
cursor: default;
box-sizing: border-box;
}

.container2{
    top: 46vh;
    left: 50vh;
    display: flex;
    position: absolute;
    
}

.search{
    box-shadow:0px 0px 20px 1px #ffffff ;
    border: 0;
    border-radius: 30px 0 0 30px;
    padding: 0 10px 0 10px;
    text-align: center;
    color: black;
    height: 5vh;
    width: 64vh;
    font-size: 25px;
    font-weight: 1000;
    
}
.search::selection{
background-color: red;
color: white;
}
.search:focus{
border: 0;
outline: 0;
}
.search:hover{
cursor: text;
}

.search-btn{
    transition: 0.2s ease-in-out;
    box-shadow:0px 0px 20px 1px greenyellow ;
    border: 0;
    border-radius: 0 30px 30px 0;
    padding: 0 10px 0 10px;
    text-align: center;
    color: black;
    position: relative;
    background-color: greenyellow;
    height: 5vh;
    width: 14vh;
    font-size: 25px;
    font-weight: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-btn:hover {
transition: 0.2s ease-in-out;
background-color: green;
box-shadow:0px 0px 20px 1px green ;
font-size: 30px;
font-weight: 800;
cursor: pointer;
}

/* ***search-btn focus style*** */

/* .search-btn:focus{
transition: 0.2s ease-in-out;
background-color: blueviolet;
box-shadow:0px 0px 20px 1px blueviolet ;
font-size: 30px;
font-weight: 800;
cursor: pointer;
} */

/* ***search-btn focus style finsh*** */




/* CARDS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  margin-right: 20vh;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}